{% extends "base.html" %}
{% load i18n %}

{% block content %}
<main id="content" role="main">
  <div class="container content-space-3 content-space-t-lg-4 content-space-b-lg-3">
    <div class="flex-grow-1 mx-auto" style="max-width: 28rem;">

      <!-- Heading -->
      <div class="text-center mb-5 mb-md-7">
        <h1 class="h2">فرم ورود</h1>
        <p>برای مدیریت حساب خود وارد شوید.</p>
      </div>
      <!-- End Heading -->

      <form method="post" action="{% url 'account_login' %}">

        {% csrf_token %}

        {% if form.non_field_errors %}
          <div class="alert alert-danger">
            {{ form.non_field_errors }}
          </div>
        {% endif %}

        <!-- Email/Login -->
        <div class="mb-4">
          <label class="form-label" for="id_login">
            ایمیل شما
          </label>

          <input
            type="text"
            class="form-control form-control-lg text-center"
            name="login"
            id="id_login"
            placeholder="email@site.com"
            value="{{ form.login.value|default:'' }}"
          >

          {% if form.login.errors %}
            <div class="text-danger mt-1">
              {{ form.login.errors }}
            </div>
          {% endif %}
        </div>
        <!-- End Email/Login -->

        <!-- Password -->
        <div class="mb-4">
          <div class="d-flex justify-content-between align-items-center">
            <label class="form-label" for="id_password">
              کلمه عبور
            </label>
          </div>

          <div class="input-group input-group-merge">
            <input
              type="password"
              class="js-toggle-password form-control form-control-lg text-center"
              name="password"
              id="id_password"
              placeholder="کلمه عبور"
            >

            <a id="changePassTarget"
               class="input-group-append input-group-text"
               href="javascript:;">
              <i id="changePassIcon" class="bi-eye"></i>
            </a>
          </div>

          {% if form.password.errors %}
            <div class="text-danger mt-1">
              {{ form.password.errors }}
            </div>
          {% endif %}
        </div>
        <!-- End Password -->

        {% if redirect_field_value %}
          <input
            type="hidden"
            name="{{ redirect_field_name }}"
            value="{{ redirect_field_value }}"
          >
        {% endif %}

        <div class="d-grid mb-3">
          <a class="form-label-link"
             href="{% url 'account_reset_password' %}">
            رمز عبور را فراموش کرده اید؟
          </a>

          <button type="submit" class="btn btn-primary btn-lg">
            ورود
          </button>
        </div>

        <div class="text-center">
          <p>
            حساب کاربری ندارید؟
            <a class="link" href="{% url 'account_signup' %}">
              اینجا ثبت نام کنید
            </a>
          </p>
        </div>

      </form>
    </div>
  </div>
</main>
{% endblock %}